/src/*
!/src/main/java/com/example/*.java
!/src/*.g4
/src/test
/src/*Lexer.java
/src/*Parser.java 
/src/*ParserBaseListener.java
/src/*ParserBaseVisitor.java
/src/*ParserListener.java
/src/*ParserVisitor.java
/classes
/target
.DS_Store
/out
/.idea
/Lab.iml